:root {
  --black-color: black;
  --white-color: white;
  --background-color: #f2f2f2;
}

* {
  /* thay doi kick thuoc padding va margin thi no se khong thay doi kich thuoc cua ca block */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sams-serif;
  font-size: 62.5%;
  line-height: 1.6rem;
}
